body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
h1 {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-nav {
  margin: 50px 100px;
  padding: 50px 60px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  max-width: 70%;
}
.submit-nav label {
  margin: 2px;
  padding: 20px;
  font-size: 20px;
}

.feelings {
  margin: 10px;
  padding: 5px;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons i {
  pointer-events: none;
}
.descriptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.journal {
  margin: 20px;
  padding: 20px;
  display: none;
  flex-direction: column;
  border: 1px solid black;
}

.journal h2, .journal h3 {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}

.journal_submission {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 50px 100px;
}

.journal_submission input {
  width: 150px;
  height: 150px;
}

.return-nav {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
